html {
  overflow-x: hidden;
}

html, body {
    height: 100%;
    margin-bottom:  0;
    padding-bottom:  0;
}

.gallery-content {
  margin-top: 0px;
  width: 100%;
  height: 600px;
}

.gallery {
  width: 101.2%;
  margin-left: -0.6%;
}

#gallery_list img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #59677c;
  cursor: pointer;
}

#gallery_list {
  margin-left: 2%;
  border-radius: 10px;
  width: 25%;
  height: 550px;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
}

#gallery_list::-webkit-scrollbar-track-piece { background-color: #d6e5fc;}
#gallery_list::-webkit-scrollbar { width: 6px; }


#gallery_list ul {
  list-style: none;
  padding-left: 3%;
}

#img-view {
  position: absolute;
  margin-left: 33%;
  margin-top: 17px;
  width: 65%;
}

#img-view img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #59677c;
}

h2 {
  text-align: center;
  margin-top: 65px;
  text-decoration: underline;
  font-family: "Arial", sans-serif;
  padding: 0;
  margin-bottom: 0;
}
